body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.highlight {
    color: #ED3B44;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(237, 59, 68, 0.5);
}

.send-button {
    background-color: #ED3B44;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.send-button:focus {
    background-color: #E0373F;
}

.contact-info {
    margin-top: 20px;
    font-size: 14px;
}